<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>KubeDashboard</title>
  <link rel="icon" href="static/favicon.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat:wght@300;600&family=Sacramento&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap.min.css" rel="stylesheet">


  <!-- JavaScript -->
  <script src="https://kit.fontawesome.com/de7f2d3cb1.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

  <script src="../static/bootstrap.min.js"></script>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="../static/scripts.js"></script>

  <link href="../static/styles.css" rel="stylesheet">


</head>

<body class="outside">
  <!-- Navigation Bar -->
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a class="navbar-brand brand" id="webui"  href="">Kubernetes-WebUI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li>
            <button type="button" class="btn btn-danger btn-lg" id="deleteAllRes" style="display: none;">Delete All Resources</button>
          </li>
        </ul>
      </div>
    </nav>
  </section>


  <section id="home">
    <div class="container" style="text-align: center">
      <h1>Welcome To Kubernetes Service</h1>
      <button type="button" class="btn btn-info btn-lg" id="startButton" onclick="dashboard()">Get Started</a></button>
    </div>
  </section>

  <section id="dashboard" style="display: none">
    <div class="row" style="padding-top: 0">
      <!-- uncomment code for absolute positioning tweek see top comment in css -->
      <div class="absolute-wrapper"> </div>
      <!-- Menu -->
      <div class="side-menu">

        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <div class="brand-wrapper">
              <!-- Hamburger -->
              <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand -->
              <div class="brand-name-wrapper">
                <a class="navbar-brand" href="#">
                  Workloads
                </a>
              </div>

            </div>
          </div>

          <!-- Main Menu -->
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <li id="home"><a href="">Home</a></li>
              <li><a href="#" onclick="pod()">POD</a></li>
              <li><a href="#" onclick="deploy()">Deployment</a></li>
              <li><a href="#" onclick="svc()">Service</a></li>
              <li><a href="#" onclick="rs()">Replica Sets</a></li>
            </ul>
          </div>

          <!-- /.navbar-collapse -->
        </nav>
      </div>

      <!-- Main Content -->
      <div class="container-fluid">
        <div class="side-body" id="sideBody">
          <div id="welcomeStr">
            <h2>Please, select any of the resources for further use!!</h2>
          </div>

          <section id="pod" style="display: none">
            <div class="container-flex">
              <div class="button">
                <button type="" class="btn btn-primary btn-lg" onclick="podInput()"><i class="fas fa-plus"></i> Create New</button>
              </div>
              <div class="button">
                <button type="" class="btn btn-success btn-lg" id="podStatus"><i class="fas fa-check" ></i> Check Staus</button>
              </div>
              <div class="button">
                <button type="" class="btn btn-info btn-lg" onclick="podDescribe()"><i class="fas fa-scroll"></i> Describe Pod</button>
              </div>
              <div class="button">
                <button type="" class="btn btn-danger btn-lg" onclick="podDelete()"><i class="fas fa-trash"></i> Delete Pod</button>
              </div>
            </div>

            <div id="pod-input" style="display: none">
              <div style="display:flex;width:100%;">
                <form id="podInputForm">
                  <div style="width:100%;">
                    <p>POD NAME</p>
                    <input name="podName">
                  </div>
                  <div style="width:100%;" >
                    <p>POD IMAGE</p>
                    <input name="imageName" >
                  </div>
                  <div style="width:100%;">
                    <p>IMAGE TAG</p>
                    <input name="imageTag" value="latest">
                  </div>
                  <button type="button" class="submit-button">Submit</button>
                </form>
              </div>
            </div>

            <div id="pod-describe" style="display: none">
              <div style="display:flex;width:100%;">
                <form>
                  <div style="width:100%;">
                    <p>POD NAME</p>
                    <input name="podName" id="podDescribe">
                  </div>
                  <button type="button" class="submit-button" id="podDescribeSubmit">Submit</button>
                </form>
              </div>
            </div>

            <div id="pod-delete" style="display: none">
              <div style="display:flex;width:100%;">
                <form>
                  <div style="width:100%;">
                    <p>POD NAME</p>
                    <input name="podName" id="podDelete">
                  </div>
                  <button type="button" class="submit-button" id="delSubmit">Submit</button>
                </form>
              </div>
            </div>
          </section>



          <section id="deploy" style="display: none">
            <div class="container-flex">
              <div class="button">
                <button type="button" class="btn btn-primary btn-lg" onclick="deployInput()" style="margin-left: 30px"><i class="fas fa-plus"></i> Create New</button>
              </div>
              <div class="button">
                <button type="button" class="btn btn-success btn-lg" id="deployStatus"><i class="fas fa-check"></i> Check Staus</button>
              </div>
              <div class="button">
                <button type="button" class="btn btn-info btn-lg" onclick="deployDescribe()" id="describeDeploy"><i class="fas fa-scroll"></i> Describe Deployment</button>
              </div>
              <div class="button">
                <button type="button" class="btn btn-danger btn-lg" onclick="deployDelete()"><i class="fas fa-trash"></i> Delete Deployment</button>
              </div>
              <div class="button">
                <button type="button" class="btn btn-warning btn-lg" onclick="deployScale()" id="scaleDeploy"><i class="fas fa-chart-line"></i> Scale Deployment</button>
              </div>
            </div>

            <div id="deploy-input" style="display: none">
              <div style="display:flex;width:100%;">
                <form id="createDeployForm">
                  <div style="width:100%;">
                    <p>DEPLOYMENT NAME</p>
                    <input name="deployName">
                  </div>
                  <div style="width:100%;">
                    <p>IMAGE NAME</p>
                    <input name="deployImageName">
                  </div>
                  <div style="width:100%;">
                    <p>IMAGE TAG</p>
                    <input name="deployImageTag" value="latest">
                  </div>
                  <button type="button" class="submit-button">Submit</button>
                </form>
              </div>
            </div>

            <div id="deploy-describe" style="display: none">
              <div style="display:flex;width:100%;">
                <form id="desDeployForm">
                  <div style="width:100%;">
                    <p>DEPLOYMENT NAME</p>
                    <input name="deployName">
                  </div>
                  <button type="button" class="submit-button">Submit</button>
                </form>
              </div>
            </div>

            <div id="deploy-delete" style="display: none">
              <div style="display:flex;width:100%;">
                <form id="delDepForm">
                  <div style="width:100%;">
                    <p>DEPLOYMENT NAME</p>
                    <input name="deployName">
                  </div>
                  <button type="button" class="submit-button">Submit</button>
                </form>
              </div>
            </div>

            <div id="deploy-scale" style="display: none">
              <div style="display:flex;width:100%;">
                <form id="scaleDepForm">
                  <div style="width:100%;">
                    <p>DEPLOYMENT NAME</p>
                    <input name="deployName">
                  </div>

                  <div style="width:100%;">
                    <p>NO. OF REPLICAS</p>
                    <input name="replicas">
                  </div>

                  <button type="button" class="submit-button">Submit</button>
                </form>
              </div>
            </div>
          </section>


          <section id="svc" style="display: none">
            <div class="container-flex">
              <div class="button">
                <button type="button" class="btn btn-primary btn-lg" onclick="svcInput()"><i class="fas fa-plus"></i> Create New</button>
              </div>
              <div class="button">
                <button type="button" class="btn btn-success btn-lg" id="svcStatus"><i class="fas fa-check"></i> Check Staus</button>
              </div>
              <div class="button">
                <button type="button" class="btn btn-info btn-lg" id="describeSvc" onclick="svcDescribe()"><i class="fas fa-scroll"></i> Describe SVC</button>
              </div>
              <div class="button">
                <button type="button" class="btn btn-danger btn-lg" onclick="svcDelete()"><i class="fas fa-trash"></i> Delete SVC</button>
              </div>
            </div>

            <div id="svc-input" style="display: none">
              <div style="display:flex;width:100%;">
                <form id="createSvcForm">
                  <div style="width:100%;">
                    <p>RESOURCE TO BE EXPOSED</p>
                    <input name="resource">
                  </div>
                  <div style="width:100%;">
                    <p>RESOURCE NAME</p>
                    <input name="resourceName">
                  </div>

                  <div style="width:100%;">

                    <select name="svcName" id="svcType" class="btn" style="border: none; font-size: 12px; padding: 0;">
                      <option value="" selected>SERVICE  TYPE</option>
                      <option value="NodePort">NodePort</option>
                      <option value="LoadBalancer">LoadBalancer</option>
                      <option value="ClusterIP">ClusterIP</option>
                    </select>
                  </div>

                  <div style="width:100%;">
                    <p>CONTAINER PORT</p>
                    <input name="port">
                  </div>

                  <button type="button" class="submit-button">Submit</button>
                </form>
              </div>
            </div>

            <div id="svc-describe" style="display: none">
              <div style="display:flex;width:100%;">
                <form id="desSvcForm">
                  <div style="width:100%;">
                    <p>SERVICE NAME</p>
                    <input name="serviceName">
                  </div>
                  <button type="button" class="submit-button">Submit</button>
                </form>
              </div>
            </div>

            <div id="svc-delete" style="display: none">
              <div style="display:flex;width:100%;">
                <form id="delSvcForm">
                  <div style="width:100%;">
                    <p>SERVICE NAME</p>
                    <input name="serviceName">
                  </div>
                  <button type="button" class="submit-button">Submit</button>
                </form>
              </div>
            </div>


          </section>

          <section id="rs" style="display: none">
            <div class="container-flex">

              <div class="button">
                <button type="button" class="btn btn-success btn-lg" id="rsStatus"><i class="fas fa-check"></i> Check Staus</button>
              </div>
              <div class="button">
                <button type="button" class="btn btn-info btn-lg"><i class="fas fa-scroll"></i> Describe RS</button>
              </div>

            </div>

          </section>
          <div id="content" class="container-fluid"  style="color: darkgrey; font-size: large; font-weight: 600;"></div>
        </div>

      </div>
    </div>
  </section>



  <script src="../static/testing.js"></script>
</body>

</html>
